<article class="card">
  <div class="card-header">
    <p class="card-header-title is-size-7">
      {{ partial "taxonomy-link-list.html" (dict "taxonomy" "themes" "page" $.Page) }}
    </p>
  </div>
  <div class="card-content">
    <a href="{{ .RelPermalink }}" class="content has-text-dark">
      {{ .Summary }}
    </a>
  </div>
  <div class="card-footer">
    <div class="card-footer-item">
      <span class="is-size-7">
        {{ partial "taxonomy-link-list.html" (dict "taxonomy" "authors" "page" $.Page) }}
      </span>
    </div>
    <div class="card-footer-item">
      <span class="is-size-7">
        {{ partial "taxonomy-link-list.html" (dict "taxonomy" "sources" "page" $.Page) }}
      </span>
    </div>
  </div>
</article>
