<article class="card">
  {{ with .Params.themes }}
  <div class="card-header">
    <p class="card-header-title is-size-7">
      {{ partial "taxonomy-link-list.html" (dict "taxonomy" "themes" "page" $.Page) }}
    </p>
  </div>
  {{ end }}
  <div class="card-content">
    <a href="{{ .RelPermalink }}" class="content has-text-dark">
      {{ .Summary }}
    </a>
  </div>
  {{ if or .Params.authors .Params.sources }}
  <div class="card-footer">
    {{ with .Params.authors }}
    <div class="card-footer-item">
      <span class="is-size-7">
        {{ partial "taxonomy-link-list.html" (dict "taxonomy" "authors" "page" $.Page) }}
      </span>
    </div>
    {{ end }}
    {{ with .Params.sources }}
    <div class="card-footer-item">
      <span class="is-size-7">
        {{ partial "taxonomy-link-list.html" (dict "taxonomy" "sources" "page" $.Page) }}
      </span>
    </div>
    {{ end }}
  </div>
  {{ end }}
</article>
