<article class="card">
  <div class="card-content">
    {{ if $.focus }}
      {{ .nc.Content }}
    {{ else }}
    <a href="{{ .nc.RelPermalink }}" class="content has-text-dark">
      {{ .nc.Summary }}
    </a>
    {{ end }}
  </div>
  {{ if or .nc.Params.authors .nc.Params.sources }}
  <div class="card-footer">
    {{ with .nc.Params.authors }}
    <div class="card-footer-item">
      <span class="is-size-7">
        {{ partial "taxonomy-link-list.html" (dict "taxonomy" "authors" "page" $.nc) }}
      </span>
    </div>
    {{ end }}
    {{ with .nc.Params.sources }}
    <div class="card-footer-item">
      <span class="is-size-7">
        {{ partial "taxonomy-link-list.html" (dict "taxonomy" "sources" "page" $.nc) }}
      </span>
    </div>
    {{ end }}
  </div>
  {{ end }}
</article>
