<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
      dir="{{ or site.Language.LanguageDirection `ltr` }}" class="has-background-white-bis" data-theme="light">
<head>
  {{ partial "head.html" . }}
</head>
<body class="is-fluid">
{{ block "hero" . }}{{ end }}
<main class="container px-4">
  <div class="columns">
    <div class="column is-three-quarters">{{ block "main" . }}{{ end }}</div>
    <div class="column is-one-quarter">
      <aside class="is-hidden-mobile">{{ partial "taxonomies.html" . }}</aside>
    </div>
  </div>
</main>
<footer class="footer has-text-centered is-size-7 mt-5 container">
  {{ partial "footer.html" . }}
</footer>
</body>
</html>
