{{ define "hero" }}
<section class="container">
  <div class="hero">
    <div class="hero-body">
      <p class="title is-3">Commonplace</p>
      <p class="subtitle is-5">Explore, learn, and grow one notecard at a time.</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "main" }}
{{ $paginator := .Paginate (where (.Site.RegularPages) "Type" "notecards") }}
<div class="fixed-grid has-1-cols-mobile has-2-cols-tablet has-3-cols-desktop">
  <div id="results" class="grid is-gap-3 fade-out">
    {{ range (.Paginator).Pages }}
    {{ .Render "notecard" }}
    {{ end }}
  </div>
</div>
{{ partial "pagination.html" . }}
{{ end }}
