{{ define "hero" }}
<section class="container">
  <div class="hero">
    <div class="hero-body">
      <p class="title is-3"><a href="{{ .Site.BaseURL }}" class="has-text-dark">{{ .Title }}</a></p>
      <p class="subtitle is-5">{{ .Params.subtitle }}</p>
    </div>
  </div>
</section>
{{ end }}
{{ define "main" }}
<div class="fixed-grid has-1-cols-mobile has-2-cols-tablet has-3-cols-desktop">
  <div id="results" class="grid is-gap-3 fade-out">
    {{ range (.Paginator).Pages }}
    {{ partial "notecard.html" (dict "nc" .) }}
    {{ end }}
  </div>
</div>
{{ partial "pagination.html" . }}
{{ end }}

