{{ define "hero" }}
<section class="container">
  <div class="hero">
    <div class="hero-body">
      <p class="title is-3"><a href="{{ .Site.BaseURL }}" class="has-text-dark">{{ .Site.Title }}</a></p>
      <p class="subtitle is-5">Explore, learn, and grow one notecard at a time.</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "main" }}
<div class="columns is-centered mb-5">
  <div class="column is-full-mobile is-full-tablet is-four-fifths-desktop is-three-fifths-widescreen">
    {{ partial "notecard.html" (dict "nc" . "focus" true) }}
  </div>
</div>
{{ with site.RegularPages.Related . }}
<hr>
<h5 class="title is-5">Related Notecards</h5>
<div class="fixed-grid has-1-cols-mobile has-2-cols-tablet has-3-cols-desktop">
  <div class="grid is-gap-3 fade-out">
    {{ range . }}
    {{ partial "notecard.html" (dict "nc" .) }}
    {{ end }}
  </div>
</div>
{{ end }}
{{ end }}
